<div *ngIf="!hidded">
    <div class="chat-view">
        <div>
            <div>
                <button type="button" class="btn-close"
                    aria-label="Close" (click)="hideChat()"></button>
                <div class="title-text">Mestre Cervejeiro</div>
            </div>
            <div #chat class="chat-content">
                <div *ngFor="let message of chatMessages; let odd=odd;" class="chat-text-content">
                    <div class="chat-ballon" [ngClass]="{'ballon-bot': !odd, 'ballon-user': odd}">{{message}}</div>
                </div>
                <div *ngIf="delay" class="tip-text">Mestre Cervejeiro está digitando...</div>
            </div>
        </div>
        <div *ngIf="!finished" class="button-area">
            <div class="button-container">
                <button *ngIf="answer1" [disabled]="disableButtons" type="button" class="btn btn-primary answer-button"
                    (click)="response(answer1)">{{answer1.answer}}</button>
                <button *ngIf="answer2" [disabled]="disableButtons" type="button" class="btn btn-primary answer-button"
                    (click)="response(answer2)">{{answer2.answer}}</button>
            </div>
        </div>
    </div>
</div>